# Generated with hyprdynamicmonitors freeze.
# This is a template that you can edit, it is just a starter that pulled your current monitor setup,
# adjust as needed.
# You can use templates here etc, see https://github.com/fiffeek/hyprdynamicmonitors/blob/main/examples/basic/hyprconfigs/template.go.tmpl.
# Monitors are given arbitrary tags (the "monitor" prefix and the ID coming from hyprland).
# If you are using tui to edit, leave this at the end of your file (the last monitor config applies)
# and leave the markers.
# <<<<< TUI AUTO START
monitor=desc:Chimei Innolux Corporation 0x143F,1680x1050@60.00300,auto,1.20000000,transform,0,vrr,0
monitor=desc:Lenovo Group Limited T24m-29 V90CA7RF,1920x1080@60,auto-center-right,1.00000000
monitor=,1680x1050@60.0030,auto,1.20000000,mirror,eDP-1
# <<<<< TUI AUTO END
