* {
    background-image: none;
    box-shadow: none;

    font-family: "JetBrainsMono Nerd Font";
}

window {
    background-color: rgba(17, 17, 27, 0.94);
}

button {
    background-color: #1e1e2e;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 46px;

    border: 2px solid #313244;
    border-radius: 24px;

    margin: 12px;
    padding: 0;

    outline: none;
    box-shadow: none;

    transition:
        background-color 180ms ease,
        background-size 180ms ease,
        border-color 180ms ease;
}

button:hover,
button:focus {
    background-size: 52px;

    outline: none;
    box-shadow: none;
}

/* LOCK */

#lock {
    background-image: url("/home/krystian/nixos/home/config/wlogout/icons/lock_white.png");
}

#lock:hover,
#lock:focus {
    background-color: rgba(137, 180, 250, 0.14);
    border-color: #89b4fa;
}

/* SUSPEND */

#suspend {
    background-image: url("/home/krystian/nixos/home/config/wlogout/icons/suspend_white.png");
}

#suspend:hover,
#suspend:focus {
    background-color: rgba(203, 166, 247, 0.14);
    border-color: #cba6f7;
}

/* HIBERNATE */

#hibernate {
    background-image: url("/home/krystian/nixos/home/config/wlogout/icons/hibernate_white.png");
}

#hibernate:hover,
#hibernate:focus {
    background-color: rgba(203, 166, 247, 0.14);
    border-color: #cba6f7;
}

/* LOGOUT */

#logout {
    background-image: url("/home/krystian/nixos/home/config/wlogout/icons/logout_white.png");
}

#logout:hover,
#logout:focus {
    background-color: rgba(245, 194, 231, 0.14);
    border-color: #f5c2e7;
}

/* REBOOT */

#reboot {
    background-image: url("/home/krystian/nixos/home/config/wlogout/icons/reboot_white.png");
}

#reboot:hover,
#reboot:focus {
    background-color: rgba(249, 226, 175, 0.14);
    border-color: #f9e2af;
}

/* SHUTDOWN */

#shutdown {
    background-image: url("/home/krystian/nixos/home/config/wlogout/icons/shutdown_white.png");
}

#shutdown:hover,
#shutdown:focus {
    background-color: rgba(243, 139, 168, 0.14);
    border-color: #f38ba8;
}
